.card-modal-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    // display: none;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
    z-index: 2;
}

.create-card-modal {
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    background-color: white;
    width: 40%;
    height: 50%;
    position: relative;
}

// .bg-card-active {
//     visibility: active;
//     opacity: 1;
// }

// .bg-active {
//     visibility: visible;
//     opacity: 1;
// }

.create-card-close {
    position: absolute;
    right: 5px;
    top: 5px;
}

.card-creator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.create-card-fields {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.create-card-form {
    width: 100%;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.create-card-button-container {
    display: flex;
    justify-content: center;
}

.first-field {
    // width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    // align-items: center;
    flex-direction: column;
}

.front-description {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.first-input {
    display: flex;
    justify-content: center;
}


.create-card-front {
    width: 80%;
    height: 50px;
    text-align: center;
    font-size: 16px;
}

.second-field {
    padding: 10px;
    // width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.back-description {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.second-input {
    display: flex;
    justify-content: center;
}

.create-card-back {
    width: 80%;
    height: 50px;
    text-align: center;
    font-size: 16px;
}

.create-card-button {
    display: flex;
    justify-content: center;
    background-color: rgb(180, 180, 180);
    // height: 25px;
    // width: 50px;
    border-radius: 5px;
}

.create-card-button:hover {
    cursor: pointer;
}

// .create-card-button:hover, .create-card-button:focus {
//     outline: none;
// }

.card-errors {
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #bb0000;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}

.card-error {
    padding: 5px;
}
