.modal-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
    z-index: 2;
}

.bg-active {
    visibility: visible;
    // display: block;
    opacity: 1;
}

.create-deck-modal {
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    background-color: white;
    width: 35%;
    height: 45%;
    position: relative;
    // z-index: 5;
    // display: flex;
    // justify-content: space-around;
    // align-items: center;
    // flex-direction: column;
}

// .edit-deck-close {
//     position: absolute;
//     right: 5px;
//     top: 3px;
//     font-size: 20px;
//     transition: 0.3s;
// }

// .edit-deck-close:hover {
//     cursor: pointer;
//     transition: 0.3s;
//     font-size: 24px;
// }

.create-close-button {
     position: absolute;
    right: 5px;
    top: 3px;
    font-size: 20px;
    transition: 0.3s;
    font-weight: bold;
}

.modal-create-button {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    background-color: #21d07e;
    // padding: 30px;
    // height: 50px;
}

.modal-create-button:hover {
    background-color: #15b43c;
    cursor: pointer;
}

.modal-create-button:hover, .modal-create-button:focus {
  outline: none;
}

.create-close-button:hover {
    cursor: pointer;
    transition: 0.3s;
    font-size: 24px;
}