.Dashboard-main {
    height: 100%;
    background-image: url("https://i.pinimg.com/originals/aa/43/50/aa4350ce5aed12fc4b0518f0dead4e1e.png");
    // background-color: #324054; 
}

.dashboard-user-section {
    padding-top: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: hsl(220, 8%, 93%);
    height: 100vh;
    justify-content: space-around;
    // background-color: #3D73A9;
    // background-image: url("https://i.pinimg.com/originals/aa/43/50/aa4350ce5aed12fc4b0518f0dead4e1e.png");
}

.dashboard-user-side {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
}

.dashboard-logo {
    left: 10px;
    top: 10px;
    width: 10%;
    height: 10%;
}

.dashboard-logo:hover {
    cursor: pointer;
}

.greetings-and-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.greeting {
    font-size: 30px;
    // font-family: 'Montserrat', sans-serif;
    padding: 10px;
}

.greeting-pt2 {
    // font-size: 18px
}

.deck-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.dashboard-second-row {
    padding-top: 30px;
    padding-bottom: 10px;
    // padding: 18px;
    display: flex;
    justify-content: space-around;
    width: 80%;
    border-bottom: solid 1px gray;
}

.no-of-decks {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.deck-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

// .study-section {
//     display: flex;
//     justify-content: center;
//     align-items: column;
// }

.study-row {
    padding-top: 30px;
    padding-bottom: 10px;
    // padding: 18px;
    display: flex;
    justify-content: space-around;
    width: 80%;
    border-bottom: solid 1px gray;
}

// .dashboard-second-row {
//     padding-top: 30px;
//     padding-bottom: 10px;
//     // padding: 18px;
//     display: flex;
//     justify-content: space-around;
//     width: 80%;
//     border-bottom: solid 1px gray;
// }

.no-of-study-decks {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    // width: 80%;
    // border-bottom: solid 1px gray;
}

.user-deck-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
};
