.Dashboard-main {
    height: 100%;
    background-color: #324054; 
}

.dashboard-user-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: hsl(220, 8%, 93%);
    height: 100%;
    justify-content: space-around;
    background-color: #2D5792;
}

.dashboard-user-side {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
}

.dashboard-logo {
    left: 10px;
    top: 10px;
    width: 10%;
    height: 10%;
}

.dashboard-logo:hover {
    cursor: pointer;
}

.greetings-and-info {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.greeting {
    font-size: 18px;
}

.usermade-decks {
    font-size: 14px;
}


.dashboard-dropdown {
    position: relative;
    display: inline-block;
}

.dashboard-logout {
    display: none;
    position: absolute;
    left: 5px;
    right: 5px;
    background-color: lightgray;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 10px;
    border-radius: 5px;
    z-index: 1;
}

.dashboard-dropdown:hover .dashboard-logout {
    display: block;
    cursor: pointer;
}


.dashboard-logout:hover {
    background-color: skyblue;
    cursor: pointer;
}

.deck-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.dashboard-second-row {
    padding-top: 30px;
    padding-bottom: 10px;
    // padding: 18px;
    display: flex;
    justify-content: space-around;
    width: 80%;
    border-bottom: solid 1px gray;
}

.no-of-decks {
    font-size: 16px
}

.add-deck-button {
    font-size: 16px;
    // padding-bottom: 10px;
}

.add-deck-button:hover {
    color: rgb(173, 212, 230);
    cursor: pointer;
}

.to-be-deleted {
    padding-top: 500px;
}