.deck-review-page {
    padding-top: 60px;
    height: 100%;
    background-image: url("https://i.pinimg.com/originals/aa/43/50/aa4350ce5aed12fc4b0518f0dead4e1e.png");
}

.deck-review-title {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 450;
    color: #28a5dc;
}

