.deck-review-page {
    padding-top: 60px;
    height: 100%;
    background-image: url("https://i.pinimg.com/originals/aa/43/50/aa4350ce5aed12fc4b0518f0dead4e1e.png");
}

.deck-review-title {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 450;
    color: #28a5dc;
}

.deck-review-card {
    display: flex;
    justify-content: center;
    // flex-direction: column;
}

.current-card {
    margin: 20px 20px 20px 20px;
    display: flex;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    // font-family: 'Open Sans', sans-serif;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 400px;
    width: 700px;
    border-radius: 10px;
    background-color: rgb(233, 233, 233);
    -webkit-box-shadow: 5px 5px 8px 5px rgba(0,0,0,0.55); 
    box-shadow: 5px 5px 8px 5px rgba(0,0,0,0.55);
    z-index: 0;
}

.deck-review-card-back {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card-review-button {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.next-card-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 350px;
    background-color: #4CA5DB;
    border-radius: 10px;
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
    // transform: translate(-50%,-50%);;
    // padding-bottom: 20px;
}

.next-card-button:hover {
    cursor: pointer;
}

.prev-card-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 100px;
    width: 350px;
    background-color: #4CA5DB;
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

.prev-card-button:hover {
    cursor: pointer;
}
    
.next-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 100px;
    width: 350px;
    background-color: #4CA5DB;
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
    // padding-bottom: 20px;
}

.next-card:hover {
    cursor: pointer;
}
