.deck-index-main {
    background-image: url("https://i.pinimg.com/originals/aa/43/50/aa4350ce5aed12fc4b0518f0dead4e1e.png");
    // background-color: #3D73A9;
}

.deck-index-title {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    color: white;
    font-size: 20px;
}

.deck-index-ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}