.deck-show {
    height: 100%;
    background-image: url("https://i.pinimg.com/originals/aa/43/50/aa4350ce5aed12fc4b0518f0dead4e1e.png");
}

.first-row {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.pack-header-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
}

.deck-title-show {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 450;
    color: #28a5dc;
    text-shadow: 2px 2px 2px black;
}

.deck-show-creator {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 28px;
    text-shadow: 2px 2px 2px black;
    font-family: 'Montserrat', sans-serif;
}

.deck-card-list {
    padding: 10px;
}

.deck-options-container {
    display: flex;
    justify-content: center;
}

.deck-options {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid gray;
    padding-bottom: 30px;
}

.edit-deck-modal-button {
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    height: 50px;
    width: 110px;
    background-color: #D8A3DD;
}

.edit-deck-modal-button:hover {
    cursor: pointer;
    background-color: #BC76BA;
}

.edit-deck-modal-button:focus, .edit-deck-modal-button:hover {
    outline: none;
}

.create-card-modal-button {
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    height: 50px;
    width: 100px;
    background-color: rgb(255, 94, 0);
}
.create-card-modal-button:hover {
    cursor: pointer;
    background-color: rgb(255, 74, 2);
}

.create-card-modal-button:hover, .create-card-modal-button:focus {
  outline: none;
}

.delete-from-userdecks-button {
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    background-color: rgb(255, 0, 98);
    height: 50px;
    width: 100px;
}

.delete-from-userdecks-button:hover {
    background-color: rgb(185, 0, 124);
    cursor: pointer;
}

.delete-from-userdecks-button:hover, .delete-from-userdecks-button:focus {
    outline: none;
}

.add-userdeck-button {
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    background-color: rgb(0, 255, 213);
    height: 50px;
    width: 100px;
}

.add-userdeck-button:hover {
    background-color: rgb(0, 170, 156);
}

.add-userdeck-button:hover, .add-userdeck-button:focus {
    outline: none;
}

.study-deck-button {
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    height: 50px;
    width: 120px;
    background-color: rgb(0, 174, 255);
}

.study-deck-button:hover {
    cursor: pointer;
    background-color: rgb(94, 161, 206);
}

.study-deck-button:hover, .study-deck-button:focus {
    outline: none;
}


