.deck-index-main {
    background-color: #3D73A9;
}

.deck-index-title {
    display: flex;
    justify-content: center;
}

.deck-index-ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}