.delete-deck-modal-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn ease 0.3s;
    // animation: fadeOut ease 0.3s;
    // -webkit-animation: fadeIn ease 20s;
    // -moz-animation: fadeIn ease 20s;
    // -o-animation: fadeIn ease 20s;
    // -ms-animation: fadeIn ease 20s;
    z-index: 2;
}

.delete-deck-modal {
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
    background-color: white;
    width: 25%;
    height: 30%;
    transition: visibility 0s, opacity 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
    // z-index: 10;
}

.delete-deck-message {
    width: 90%;
    display: flex;
    padding-left: 5%;
    align-items: center;
    justify-content: center;
    text-align: center;
    // padding: 10px;
    font-size: 18px;
}

.delete-deck-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60px;
    justify-content: center;
    justify-content: space-between;
}

.delete-deck-yes-button {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    background-color: lightgray;
    justify-content: center;
    border: none;
    border-radius: 5px;
}

.delete-deck-yes-button:hover {
    cursor: pointer;
}

.delete-deck-no-button {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    background-color: lightgray;
    justify-content: center;
    border: none;
    border-radius: 5px;
}

.delete-deck-no-button:hover {
    cursor: pointer;
}

.delete-deck-close {
    position: absolute;
    font-size: 20px;
    transition: 0.3s;
    right: 5px;
    top: 3px;
}

.delete-deck-close:hover {
    cursor: pointer;
    transition: 0.3s;
    font-size: 24px;
}
