.modal-nav {
    // position: absolute;
    // opacity: 0.5;
    background-color: rgba(128, 128, 128, 0.452);
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
}

 .modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: black;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.login-form {
    height: 80%;
    // position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    font-size: 14px;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
}

.signup-form {
    height: 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.login-form-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 50%;
    width: 30%;
    border-radius: 10px 10px 10px 10px;
}

.sign-up-form-box {
  position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 60%;
    width: 50%;
    border-radius: 10px 10px 10px 10px;
}

.close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 25px;
    background-color: none;
    background: transparent;
    border: none;
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.modal-display-block {
  display: block;
  justify-content: center;
}

.modal-display-none {
  display: none;
}

.log-modal {
  display: flex;
  justify-content: center;
}

.login-button {
  padding: 20px;
  background-color: none;
}

.sign-up-button {
  padding: 20px;
  background-color: none;
}

.login-link {
  padding-top: 20px;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #197096;
}

.log-in-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 12%;
}

.sign-up-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 5%;
}

.log-in-button {
  position: relative;
  bottom: 10%;
  border: none;
  height: 40px;
  width: 100px;
  border-radius: 20px;
  background-color: orange;
}

.email-and-password {
  width: 80%;
}

.form-errors {
  color: #bb0000;
  font-family: sans-serif;
  line-height: 16.8px;
  font-size: 12px;
  font-style: italic;
  text-align: left;
}