.modal-nav {
    // position: absolute;
    // opacity: 0.5;
    height: 53px;
    background-color: rgba(128, 128, 128, 0.452);
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    z-index: 3;
}

 .modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: black;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 25px;
    background-color: none;
    background: transparent;
    border: none;
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.modal-display-block {
  display: block;
  justify-content: center;
}

.modal-display-none {
  display: none;
}

.email-and-password {
  width: 80%;
}

.form-errors {
  color: #bb0000;
  padding: 10px;
  font-family: sans-serif;
  line-height: 16.8px;
  font-size: 16px;
  font-style: italic;
  text-align: center;
}