.logged-in-nav {
    display: flex;
    position: absolute;
    width: 100%;
    // position: relative;
    background-color: #6363634b;
    justify-content: space-between;
    // background-color: gainsboro;
    // opacity: 0.5;
}

.logged-in-nav-buttons {
    right: 0px;
    // width: 40%;
    // display: flex;
    // justify-content: space-between;
}

.main-page-link {
    padding-left: 30px;
    font-family: 'Permanent Marker', cursive;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.main-page-link:hover {
    cursor: pointer;
}

.create-deck-button {
    font-family: 'Open Sans', sans-serif;
    border: none;
    // border-radius: 10px 0px 0px 10px;
    background-color: #21d07e;
    height: 50px;
}

.create-deck-button:hover {
    background-color: #15b43c;
    cursor: pointer;
}

.create-deck-button:hover, .create-deck-button:focus {
  outline: none;
}

.deck-index-button {
    font-family: 'Open Sans', sans-serif;
    border: none;
    background-color: orange;
    height: 50px;
    // border-radius: 5px;
}

.deck-index-button:hover, .deck-index-button:focus {
  outline: none;
}

.deck-index-button:hover {
    background-color: rgb(221, 127, 3);
    cursor: pointer;
}

.profile-button {
    // border: none;
    font-family: 'Open Sans', sans-serif;
    background-color: skyblue;
    height: 50px;
    // border-radius: 5px;
    width: 80px;
}

.profile-button:hover {
    background-color: #2185D0;
    cursor: pointer;
}

.profile-button:hover, .profile-button:focus {
  outline: none;
}

.name-and-decks {
    display: flex;
    // align-items: center;
    flex-direction: column;
    justify-content: center;
}

.username {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
}

.see-decks {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
}

.logout-button-navbar {
    font-family: 'Open Sans', sans-serif;
    height: 50px;
    // border-radius: 5px;
    background-color: rgb(158, 158, 158);
}

.logout-button-navbar:hover {
    background-color: rgb(88, 88, 88);
    cursor: pointer;
}

.logout-button-navbar:hover, .logout-button-navbar:focus {
  outline: none;
}

.logged-in-nav-create-modal {
    display: flex;
    position: absolute;
}