.nav-bar-buttons {
    position: relative;
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 36px;
    // opacity: 2;
}

// .login-modal-div {
//     position: absolute;
// }

// .sign-up-button {
//     position: absolute;
// }

.login-button {
    // padding-right: 20px;
    // position: absolute;
    width: 120px;
    height: 50px;
    font-weight: 500;
    background-color: #FDF8F7;
    border: none
}

.sign-up-button {
    // padding: 20px;
    color: white;
    font-weight: 600;
    width: 120px;
    height: 50px;
    border: none;
    background-color: #FF8A48;
}

// .sign-up-button:hover {
//     padding-left: 16px;
//     padding-bottom: 19px;
//     font-size: 14px;
// }

.sign-up-button:hover {
    // width: 108px;
    // height: 55px;
    font-size: 14px;
    background-color: #ff8243;

}

// .sign-up-button:hover .login-button {
//     padding-right: 100px;
// }

.login-button:hover {
    font-size: 14px;
    background-color: #faf6f6;
}

.nav-logo {
    height: 100px;
    width: 100px;
}

.demo-button {
    // padding: 20px;
    width: 120px;
    height: 50px;
    background: lightblue;
    border: none
}