.signup-form {
    height: 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.sign-up-form-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 60%;
    width: 40%;
    border-radius: 10px 10px 10px 10px;
}

.names {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}

.first-name-label {
    display: flex;
    justify-content: center;
}

.signup-first-name {
    width: 80%;
    height: 40px;
    font-size: 16px;
    background-color: #F2F2F2;
    border: none;
    border-radius: 5px;
    // display: flex;
    // justify-content: center;
}

.last-name-label {
    display: flex;
    justify-content: center;
}

.signup-last-name {
    width: 80%;
    height: 40px;
    font-size: 16px;
    background-color: #F2F2F2;
    border: none;
    border-radius: 5px;
}

.signup-email-label {
    display: flex;
    justify-content: center;
}

.signup-email {
    width: 90%;
    height: 40px;
    font-size: 16px;
    background-color: #F2F2F2;
    border: none;
    border-radius: 5px;
}

.signup-password-label {
    display: flex;
    justify-content: center;
}

.signup-password {
    width: 90%;
    height: 40px;
    font-size: 16px;
    background-color: #F2F2F2;
    border: none;
    border-radius: 5px;
}

.sign-up-button {
  padding: 20px;
  background-color: none;
}


.sign-up-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 5%;
}